@font-face {
  font-family: "Oswald-ExtraLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-ExtraLight/Oswald-ExtraLight.eot");
  src: url("../fonts/Oswald-ExtraLight/Oswald-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-ExtraLight/Oswald-ExtraLight.woff") format("woff"), url("../fonts/Oswald-ExtraLight/Oswald-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "Oswald-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-Light/Oswald-Light.eot");
  src: url("../fonts/Oswald-Light/Oswald-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Light/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light/Oswald-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Oswald-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-Regular/Oswald-Regular.eot");
  src: url("../fonts/Oswald-Regular/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Regular/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular/Oswald-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Oswald-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-Medium/Oswald-Medium.eot");
  src: url("../fonts/Oswald-Medium/Oswald-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Medium/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium/Oswald-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Oswald-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-Bold/Oswald-Bold.eot");
  src: url("../fonts/Oswald-Bold/Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Bold/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold/Oswald-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Oswald-SemiBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald-SemiBold/Oswald-SemiBold.eot");
  src: url("../fonts/Oswald-SemiBold/Oswald-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-SemiBold/Oswald-SemiBold.woff") format("woff"), url("../fonts/Oswald-SemiBold/Oswald-SemiBold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

button,
button:active,
button:focus,
input,
input:active,
input:focus {
  outline: none;
  padding: 0;
  margin: 0;
  border: 0; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

.row {
  margin: 0; }

.container-fluid {
  padding: 0; }

.container {
  padding: 0;
  height: 100%; }

.btn-blue {
  position: relative;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald-Medium';
  font-size: 20px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(90deg, #015799 0%, #5ca3cf 100%);
  background-image: -ms-linear-gradient(90deg, #015799 0%, #5ca3cf 100%);
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  width: 275px;
  height: 60px; }
  .btn-blue span {
    z-index: 1; }

.btn-blue:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-image: -webkit-linear-gradient(90deg, #5ca3cf 0%, #015799 100%);
  background-image: -ms-linear-gradient(90deg, #5ca3cf 0%, #015799 100%); }

.btn-blue:hover:after {
  opacity: 1; }

.mb100 {
  margin-bottom: 100px; }

body {
  font-family: 'Oswald-Regular';
  font-size: 16px;
  min-width: 320px;
  width: 100%;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: left; }
  body .cookie-block {
    height: 100px;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    background-color: #087AC0;
    z-index: 999;
    padding-left: 50px; }
    body .cookie-block span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: 'Oswald-Medium';
      color: white; }
    body .cookie-block .button-done, body .cookie-block .button-no {
      margin-left: 15px;
      margin-right: 15px;
      font-family: 'Oswald-Medium';
      color: black;
      font-size: 20px;
      background-color: white;
      height: 50px;
      line-height: 50px;
      cursor: pointer; }
    body .cookie-block .button-done, body .cookie-block .button-no, body .cookie-block span {
      display: inline-block;
      vertical-align: middle; }
  body .formPopupDone, body .formPopupError {
    display: none;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    padding-top: 75px;
    background-color: white;
    text-align: center; }
  body .popup2 {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
    width: 750px; }
    body .popup2 iframe {
      width: 750px;
      height: 500px; }
  body .popup1 {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.07);
    width: 500px;
    height: 500px; }
    body .popup1 img {
      width: 500px; }
    body .popup1 .title {
      margin-top: 20px;
      margin-left: 15px;
      font-family: 'Oswald-Medium';
      font-size: 16px;
      color: #303030; }
  body .container-fluid header .top-line {
    font-family: 'Oswald-Light';
    color: white;
    background-color: #8DBEDD;
    height: 30px; }
    body .container-fluid header .top-line span {
      cursor: pointer;
      text-decoration: none;
      margin-right: 10px;
      color: white; }
  body .container-fluid header .inf {
    background-color: white;
    height: 88px;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.08); }
    body .container-fluid header .inf .contact {
      text-align: right; }
      body .container-fluid header .inf .contact .phone, body .container-fluid header .inf .contact .contacts {
        display: inline-block;
        vertical-align: middle; }
      body .container-fluid header .inf .contact .contacts img {
        width: 20px;
        margin-left: 10px;
        cursor: pointer; }
      body .container-fluid header .inf .contact .phone {
        line-height: 1; }
        body .container-fluid header .inf .contact .phone span {
          font-size: 24px;
          font-family: 'Oswald-Light'; }
          body .container-fluid header .inf .contact .phone span b {
            margin-left: 5px;
            font-weight: normal;
            font-family: 'Oswald-Medium'; }
      body .container-fluid header .inf .contact .btn {
        padding: 0;
        margin: 0 auto;
        margin-top: 10px;
        border-width: 1px;
        border-color: #b4b4b4;
        color: #303030;
        border-style: solid;
        -webkit-border-radius: 0%;
                border-radius: 0%;
        width: 190px;
        height: 25px;
        font-family: 'Oswald-Light';
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      body .container-fluid header .inf .contact .btn:hover {
        background-color: #303030;
        color: white; }
  body .container-fluid header .content {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    position: relative; }
    body .container-fluid header .content .offer {
      padding-top: 35px;
      text-transform: uppercase;
      background-color: #f6f8fa;
      opacity: 0.902;
      -webkit-box-shadow: 0px 17px 37px 0px rgba(0, 0, 0, 0.38);
              box-shadow: 0px 17px 37px 0px rgba(0, 0, 0, 0.38);
      position: relative;
      width: 800px;
      height: 505px;
      margin-top: 75px;
      margin-bottom: 75px; }
      body .container-fluid header .content .offer .sat {
        position: absolute;
        right: 15px;
        bottom: 35px;
        z-index: -5; }
      body .container-fluid header .content .offer h1 {
        margin-left: 35px;
        margin-right: 15px;
        color: #303030;
        font-size: 36px;
        font-family: 'Oswald-Bold'; }
        body .container-fluid header .content .offer h1 b {
          font-weight: normal;
          color: #d30d2e; }
        body .container-fluid header .content .offer h1 span {
          text-transform: none;
          font-family: 'Oswald-Light'; }
      body .container-fluid header .content .offer ul {
        margin-left: 35px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 2.5;
        padding-left: 20px;
        text-transform: none;
        font-family: 'Oswald-Light';
        font-size: 22px;
        color: #303030; }
        body .container-fluid header .content .offer ul b {
          font-weight: normal;
          font-family: 'Oswald-SemiBold'; }
        body .container-fluid header .content .offer ul li {
          padding-left: 15px;
          list-style-image: url(../img/location-sign.png); }
  body .container-fluid .wFace .row {
    margin: 0;
    margin-top: 35px; }
    body .container-fluid .wFace .row .bg {
      padding-top: 25px;
      padding-bottom: 25px; }
      body .container-fluid .wFace .row .bg .content {
        padding-left: 25px;
        padding-right: 25px;
        border-width: 2px;
        border-color: #dadada;
        border-style: solid;
        width: 500px;
        height: 125px; }
        body .container-fluid .wFace .row .bg .content span {
          font-size: 24px;
          color: #6a6a6a;
          background-color: white; }
          body .container-fluid .wFace .row .bg .content span b {
            font-family: 'Oswald-Medium';
            color: #303030; }
    body .container-fluid .wFace .row .bg1 {
      background-image: url(../img/wFace-img1.jpg);
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat; }
    body .container-fluid .wFace .row .bg2 {
      background-image: url(../img/wFace-img2.jpg);
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat; }
    body .container-fluid .wFace .row .bg3 {
      background-image: url(../img/wFace-img3.jpg);
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat; }
    body .container-fluid .wFace .row .bg4 {
      background-image: url(../img/wFace-img4.jpg);
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat; }
    body .container-fluid .wFace .row .bg5 {
      background-image: url(../img/wFace-img5.jpg);
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat; }
    body .container-fluid .wFace .row .bg6 {
      background-image: url(../img/wFace-img6.jpg);
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat; }
  body .container-fluid .wGet, body .container-fluid .wFace, body .container-fluid .popFeatures, body .container-fluid .dataCol, body .container-fluid .princeOp, body .container-fluid .reports, body .container-fluid .qq, body .container-fluid .advs, body .container-fluid .clients, body .container-fluid .partners {
    text-align: center; }
    body .container-fluid .wGet .head, body .container-fluid .wFace .head, body .container-fluid .popFeatures .head, body .container-fluid .dataCol .head, body .container-fluid .princeOp .head, body .container-fluid .reports .head, body .container-fluid .qq .head, body .container-fluid .advs .head, body .container-fluid .clients .head, body .container-fluid .partners .head {
      margin-top: 100px;
      margin-bottom: 35px; }
      body .container-fluid .wGet .head .line, body .container-fluid .wGet .head h2, body .container-fluid .wFace .head .line, body .container-fluid .wFace .head h2, body .container-fluid .popFeatures .head .line, body .container-fluid .popFeatures .head h2, body .container-fluid .dataCol .head .line, body .container-fluid .dataCol .head h2, body .container-fluid .princeOp .head .line, body .container-fluid .princeOp .head h2, body .container-fluid .reports .head .line, body .container-fluid .reports .head h2, body .container-fluid .qq .head .line, body .container-fluid .qq .head h2, body .container-fluid .advs .head .line, body .container-fluid .advs .head h2, body .container-fluid .clients .head .line, body .container-fluid .clients .head h2, body .container-fluid .partners .head .line, body .container-fluid .partners .head h2 {
        display: inline-block;
        vertical-align: middle; }
      body .container-fluid .wGet .head h2, body .container-fluid .wFace .head h2, body .container-fluid .popFeatures .head h2, body .container-fluid .dataCol .head h2, body .container-fluid .princeOp .head h2, body .container-fluid .reports .head h2, body .container-fluid .qq .head h2, body .container-fluid .advs .head h2, body .container-fluid .clients .head h2, body .container-fluid .partners .head h2 {
        text-transform: uppercase;
        font-family: 'Oswald-Bold';
        font-size: 30px;
        color: #393a37; }
        body .container-fluid .wGet .head h2 b, body .container-fluid .wFace .head h2 b, body .container-fluid .popFeatures .head h2 b, body .container-fluid .dataCol .head h2 b, body .container-fluid .princeOp .head h2 b, body .container-fluid .reports .head h2 b, body .container-fluid .qq .head h2 b, body .container-fluid .advs .head h2 b, body .container-fluid .clients .head h2 b, body .container-fluid .partners .head h2 b {
          font-weight: normal;
          color: #d30d2e; }
      body .container-fluid .wGet .head .line, body .container-fluid .wFace .head .line, body .container-fluid .popFeatures .head .line, body .container-fluid .dataCol .head .line, body .container-fluid .princeOp .head .line, body .container-fluid .reports .head .line, body .container-fluid .qq .head .line, body .container-fluid .advs .head .line, body .container-fluid .clients .head .line, body .container-fluid .partners .head .line {
        background-color: #d30d2e;
        width: 35px;
        height: 2px;
        margin-left: 15px;
        margin-right: 15px; }
  body .container-fluid .wGet .merits {
    background-image: url(../img/wGet-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px; }
    body .container-fluid .wGet .merits .col {
      text-align: left; }
      body .container-fluid .wGet .merits .col img {
        height: 45px;
        margin-top: 10px;
        margin-left: 10px; }
      body .container-fluid .wGet .merits .col .text {
        margin-left: 30px; }
        body .container-fluid .wGet .merits .col .text .title {
          font-family: 'Oswald-Bold';
          font-size: 22px;
          color: #d30d2e;
          text-transform: uppercase; }
        body .container-fluid .wGet .merits .col .text .desc {
          font-family: 'Oswald-Light';
          font-size: 20px;
          color: #303030; }
  body .container-fluid .trySystem {
    background-image: url(../img/trySystem-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat; }
    body .container-fluid .trySystem .container {
      padding: 80px 0; }
      body .container-fluid .trySystem .container .offer {
        padding: 0;
        background-color: #f6f8fa;
        opacity: 0.902;
        -webkit-box-shadow: 0px 17px 37px 0px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 17px 37px 0px rgba(0, 0, 0, 0.38); }
        body .container-fluid .trySystem .container .offer .row {
          height: 100%; }
          body .container-fluid .trySystem .container .offer .row .col {
            padding-top: 40px;
            padding-left: 40px; }
          body .container-fluid .trySystem .container .offer .row .head {
            font-family: 'Oswald-Bold';
            font-size: 22px;
            color: #303030; }
            body .container-fluid .trySystem .container .offer .row .head b {
              color: #d30d2e; }
          body .container-fluid .trySystem .container .offer .row .col-7 .desc {
            font-family: 'Oswald-Light';
            font-size: 22px;
            color: #303030;
            margin: 35px 0; }
          body .container-fluid .trySystem .container .offer .row .col-7 p {
            margin: 15px 0; }
          body .container-fluid .trySystem .container .offer .row .col-5 form {
            margin-bottom: 15px; }
            body .container-fluid .trySystem .container .offer .row .col-5 form .head {
              margin-bottom: 30px; }
            body .container-fluid .trySystem .container .offer .row .col-5 form input {
              font-family: 'Oswald-Light';
              font-size: 20px;
              color: #939393;
              padding-left: 35px;
              margin-bottom: 10px;
              border-width: 1px;
              border-color: #055a9b;
              border-style: solid;
              width: 275px;
              height: 55px; }
            body .container-fluid .trySystem .container .offer .row .col-5 form input::-webkit-input-placeholder {
              font-family: 'Oswald-Light';
              font-size: 20px;
              color: #939393; }
            body .container-fluid .trySystem .container .offer .row .col-5 form .done {
              font-family: 'Oswald-Light';
              font-size: 16px;
              color: #303030;
              margin-left: 15px; }
              body .container-fluid .trySystem .container .offer .row .col-5 form .done input {
                width: auto;
                height: auto;
                margin: 0; }
              body .container-fluid .trySystem .container .offer .row .col-5 form .done span {
                margin-left: 5px; }
              body .container-fluid .trySystem .container .offer .row .col-5 form .done input, body .container-fluid .trySystem .container .offer .row .col-5 form .done span {
                display: inline-block;
                vertical-align: middle; }
            body .container-fluid .trySystem .container .offer .row .col-5 form .kapcha {
              margin-top: 10px;
              margin-bottom: 10px; }
  body .container-fluid .popFeatures .head {
    margin-bottom: 50px; }
  body .container-fluid .popFeatures .row {
    margin-bottom: 30px; }
    body .container-fluid .popFeatures .row .block {
      padding-right: 10px;
      text-align: left;
      background-color: white;
      -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.07);
              box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.07);
      height: 625px; }
      body .container-fluid .popFeatures .row .block .title {
        text-transform: uppercase;
        margin-top: 20px;
        margin-left: 15px;
        font-family: 'Oswald-Medium';
        font-size: 22px;
        color: #d30d2e; }
      body .container-fluid .popFeatures .row .block .desc {
        margin-left: 15px;
        font-family: 'Oswald-Light';
        font-size: 20px;
        color: #6a6a6a; }
  body .container-fluid .dataCol {
    padding-bottom: 100px; }
    body .container-fluid .dataCol .head {
      margin-bottom: 70px; }
  body .container-fluid .test {
    background-image: url(../img/test-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    text-align: center; }
    body .container-fluid .test h2 {
      font-family: 'Oswald-Bold';
      font-size: 30px;
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 10px; }
    body .container-fluid .test .desc {
      font-family: 'Oswald-Regular';
      font-size: 26px;
      color: #ffffff; }
    body .container-fluid .test form {
      margin-top: 25px;
      margin-bottom: 100px; }
      body .container-fluid .test form input {
        padding-left: 40px;
        border-width: 1px;
        border-color: white;
        background-color: transparent;
        border-style: solid;
        width: 100%;
        height: 60px; }
      body .container-fluid .test form input, body .container-fluid .test form input::-webkit-input-placeholder {
        color: white;
        font-family: 'Oswald-Light';
        font-size: 20px; }
      body .container-fluid .test form .check {
        margin-top: 15px; }
        body .container-fluid .test form .check .done input {
          width: auto;
          height: auto; }
        body .container-fluid .test form .check .done span {
          color: white;
          margin-left: 5px; }
  body .container-fluid .princeOp {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/princeOp-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat; }
    body .container-fluid .princeOp .head {
      margin-bottom: 35px;
      margin-top: 0; }
      body .container-fluid .princeOp .head .line {
        background-color: #303030; }
      body .container-fluid .princeOp .head h2 {
        color: #303030; }
  body .container-fluid .reports {
    padding-bottom: 100px; }
    body .container-fluid .reports .container .row {
      margin-bottom: 30px; }
      body .container-fluid .reports .container .row .report {
        cursor: pointer;
        padding-right: 10px;
        text-align: center;
        background-color: white;
        -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.07);
                box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.07);
        width: 265px;
        height: 235px; }
        body .container-fluid .reports .container .row .report .title {
          margin-top: 20px;
          margin-left: 15px;
          font-family: 'Oswald-Medium';
          font-size: 16px;
          color: #303030; }
  body .container-fluid .app {
    padding-bottom: 100px;
    text-align: center;
    background-image: url(../img/app-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px; }
    body .container-fluid .app h2 {
      font-family: 'Oswald-Bold';
      font-size: 22px;
      color: #303030;
      margin-bottom: 60px; }
  body .container-fluid .qq {
    padding-bottom: 100px; }
    body .container-fluid .qq .punct {
      cursor: pointer;
      margin-bottom: 15px;
      padding-left: 10px;
      text-align: center;
      border-width: 1px;
      border-color: #aaaaaa;
      border-style: solid;
      background-color: #f6f6f6;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      body .container-fluid .qq .punct .visB {
        height: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        body .container-fluid .qq .punct .visB span {
          margin-left: auto;
          margin-right: auto;
          font-family: 'Oswald-Regular';
          font-size: 20px;
          color: #303030; }
      body .container-fluid .qq .punct .hideB {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: left; }
        body .container-fluid .qq .punct .hideB .blue-line {
          grid-column: 1/3;
          -webkit-align-self: start;
              -ms-flex-item-align: start;
                  align-self: start;
          background-color: #5ca3cf;
          width: 615px;
          height: 1px;
          margin-left: auto;
          margin-right: auto; }
        body .container-fluid .qq .punct .hideB .text {
          padding: 15px 25px;
          text-align: center;
          justify-self: center;
          font-family: 'Oswald-Light';
          font-size: 20px;
          color: #6a6a6a; }
  body .container-fluid .kontakt {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/kontakt-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat; }
    body .container-fluid .kontakt h2 {
      margin-bottom: 75px;
      text-transform: uppercase;
      font-family: 'Oswald-Light';
      font-size: 28px;
      color: white; }
      body .container-fluid .kontakt h2 b {
        font-weight: normal;
        font-family: 'Oswald-Bold';
        font-size: 28px;
        color: white; }
    body .container-fluid .kontakt form {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr; }
      body .container-fluid .kontakt form .forms {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr; }
        body .container-fluid .kontakt form .forms input {
          padding-left: 35px;
          background-color: transparent;
          border-width: 1px;
          border-color: white;
          border-style: solid;
          width: 260px;
          height: 60px; }
        body .container-fluid .kontakt form .forms input, body .container-fluid .kontakt form .forms input::-webkit-input-placeholder {
          color: white;
          font-family: 'Oswald-Light';
          font-size: 20px; }
      body .container-fluid .kontakt form .done {
        margin-top: 15px; }
        body .container-fluid .kontakt form .done input {
          width: auto;
          height: auto; }
        body .container-fluid .kontakt form .done span {
          color: white;
          margin-left: 5px; }
  body .container-fluid .facts {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; }
  body .container-fluid .advs {
    background-image: url(../img/advs-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px; }
    body .container-fluid .advs .head {
      margin-top: 0; }
      body .container-fluid .advs .head h2 {
        color: white; }
      body .container-fluid .advs .head .line {
        background-color: white; }
    body .container-fluid .advs .container .row {
      margin-top: 50px; }
      body .container-fluid .advs .container .row .col-3 .plaine, body .container-fluid .advs .container .row .col-4 .plaine {
        background-color: white;
        padding: 10px; }
        body .container-fluid .advs .container .row .col-3 .plaine .content, body .container-fluid .advs .container .row .col-4 .plaine .content {
          text-align: left;
          padding-left: 20px;
          display: grid;
          grid-template-columns: auto 1fr;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          border-width: 1px;
          border-color: #5ca3cf;
          border-style: solid;
          height: 125px; }
          body .container-fluid .advs .container .row .col-3 .plaine .content img, body .container-fluid .advs .container .row .col-4 .plaine .content img {
            height: 50px; }
          body .container-fluid .advs .container .row .col-3 .plaine .content span, body .container-fluid .advs .container .row .col-4 .plaine .content span {
            padding-left: 30px;
            padding-right: 30px;
            font-family: 'Oswald-Medium';
            font-size: 18px;
            color: #303030; }
  body .container-fluid .clients .carousel .csl-nav, body .container-fluid .partners .carousel .csl-nav {
    cursor: pointer;
    z-index: 11;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute; }
  body .container-fluid .clients .carousel .csl-prev, body .container-fluid .partners .carousel .csl-prev {
    left: -60px; }
  body .container-fluid .clients .carousel .csl-next, body .container-fluid .partners .carousel .csl-next {
    right: -60px; }
  body .container-fluid .clients {
    padding-bottom: 150px; }
    body .container-fluid .clients .carousel {
      position: relative; }
      body .container-fluid .clients .carousel .owl1 .owl-dots {
        margin-top: 35px; }
        body .container-fluid .clients .carousel .owl1 .owl-dots .owl-dot {
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          cursor: pointer;
          margin-right: 5px;
          width: 35px;
          height: 35px;
          background-color: white;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          font-family: 'Oswald-Light';
          font-size: 20px;
          color: #303030; }
          body .container-fluid .clients .carousel .owl1 .owl-dots .owl-dot span {
            background: none;
            margin: 0;
            width: auto;
            height: auto;
            -webkit-border-radius: 0px;
                    border-radius: 0px; }
        body .container-fluid .clients .carousel .owl1 .owl-dots .active {
          -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
                  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2); }
      body .container-fluid .clients .carousel .owl1 .plaine {
        margin-left: 50px;
        margin-right: 50px;
        padding-right: 25px;
        padding-left: 30px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: white;
        border-width: 1px;
        border-color: #aaaaaa;
        border-style: solid;
        height: 255px; }
        body .container-fluid .clients .carousel .owl1 .plaine img.log {
          width: 200px; }
        body .container-fluid .clients .carousel .owl1 .plaine img.play {
          cursor: pointer;
          width: 175px; }
        body .container-fluid .clients .carousel .owl1 .plaine .text {
          padding-left: 25px;
          text-align: left;
          font-family: 'Oswald-Light';
          font-size: 22px;
          color: #303030; }
          body .container-fluid .clients .carousel .owl1 .plaine .text b {
            font-family: 'Oswald-Medium';
            font-size: 22px;
            color: #303030; }
  body .container-fluid .partners {
    background-image: url(../img/partners-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px; }
    body .container-fluid .partners .head {
      margin-top: 0; }
    body .container-fluid .partners .carousel {
      position: relative; }
      body .container-fluid .partners .carousel .owl2 .elem {
        padding: 20px; }
        body .container-fluid .partners .carousel .owl2 .elem img {
          -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
                  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2); }
  body .container-fluid .req {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/req-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat; }
    body .container-fluid .req .head {
      margin-bottom: 25px; }
      body .container-fluid .req .head h2 {
        text-transform: uppercase;
        font-family: 'Oswald-Light';
        font-size: 28px;
        color: white; }
        body .container-fluid .req .head h2 b {
          font-weight: normal;
          font-family: 'Oswald-Bold';
          font-size: 28px;
          color: white; }
      body .container-fluid .req .head .desc {
        font-family: 'Oswald-Regular';
        font-size: 26px;
        color: white; }
    body .container-fluid .req .button {
      margin-left: 25px; }
    body .container-fluid .req form {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center; }
      body .container-fluid .req form .forms {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr; }
        body .container-fluid .req form .forms input {
          padding-left: 35px;
          background-color: transparent;
          border-width: 1px;
          border-color: white;
          border-style: solid;
          width: 260px;
          height: 60px; }
        body .container-fluid .req form .forms input, body .container-fluid .req form .forms input::-webkit-input-placeholder {
          color: white;
          font-family: 'Oswald-Light';
          font-size: 20px; }
      body .container-fluid .req form .done {
        margin-top: 15px; }
        body .container-fluid .req form .done input {
          width: auto;
          height: auto; }
        body .container-fluid .req form .done span {
          color: white;
          margin-left: 5px; }
  body .container-fluid .geo {
    height: 500px;
    position: relative; }
    body .container-fluid .geo iframe {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    body .container-fluid .geo .plain {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 150px;
      z-index: 111;
      padding: 10px;
      background-color: white;
      -webkit-box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.3);
      width: 450px;
      height: 325px; }
      body .container-fluid .geo .plain .content {
        padding-top: 10px;
        text-align: center;
        border-width: 1px;
        border-color: #5ca3cf;
        border-style: solid;
        width: 100%;
        height: 100%; }
        body .container-fluid .geo .plain .content .desc {
          padding-top: 15px;
          padding-left: 25px;
          text-align: left; }
          body .container-fluid .geo .plain .content .desc .head {
            font-family: "Oswals-Light";
            font-size: 25px;
            color: #000; }
          body .container-fluid .geo .plain .content .desc .punct {
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: auto 1fr; }
            body .container-fluid .geo .plain .content .desc .punct span {
              line-height: 1.3;
              padding-left: 15px;
              font-family: "Oswals-Light";
              font-size: 24px;
              color: #303030; }
              body .container-fluid .geo .plain .content .desc .punct span b {
                font-family: 'Oswald-Medium';
                font-weight: normal;
                font-size: 24px;
                color: #303030; }
            body .container-fluid .geo .plain .content .desc .punct img {
              padding-top: 10px;
              width: 15px; }
  body .container-fluid footer {
    height: 288px;
    background-color: #373737; }
    body .container-fluid footer .row {
      font-family: 'Oswald-Light';
      color: #cccccc;
      font-size: 18px;
      padding-bottom: 35px;
      padding-top: 35px;
      margin: 0;
      height: 100%; }
      body .container-fluid footer .row .col {
        padding: 0;
        line-height: 2.5; }
        body .container-fluid footer .row .col img.arrow {
          width: 35px;
          cursor: pointer;
          margin-left: 5px; }
        body .container-fluid footer .row .col span {
          cursor: pointer; }
        body .container-fluid footer .row .col span.under {
          text-decoration: underline; }
        body .container-fluid footer .row .col .contact {
          margin-top: 10px;
          text-align: right; }
          body .container-fluid footer .row .col .contact .phone {
            line-height: 1; }
            body .container-fluid footer .row .col .contact .phone span {
              cursor: auto;
              font-size: 24px;
              font-family: 'Oswald-Light'; }
              body .container-fluid footer .row .col .contact .phone span b {
                margin-left: 5px;
                font-weight: normal;
                font-family: 'Oswald-Medium'; }
          body .container-fluid footer .row .col .contact .btn {
            padding: 0;
            margin: 0;
            margin-top: 10px;
            margin-left: 5px;
            border-width: 1px;
            border-color: #b4b4b4;
            color: #cccccc;
            border-style: solid;
            -webkit-border-radius: 0%;
                    border-radius: 0%;
            width: 190px;
            height: 25px;
            font-family: 'Oswald-Light';
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
          body .container-fluid footer .row .col .contact .btn:hover {
            background-color: #cccccc;
            color: #303030; }
      body .container-fluid footer .row .logo {
        margin-left: 15px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
